<nav class="navbar">
  <div class="container navbar-inner">

    <a href="index.html" class="logo">Zanistarast</a>

    <div class="nav-links">
      <a href="paper.html" class="nav-btn">Paper</a>
      <a href="speech.html">AI & Speech</a>
      <a href="theory.html" class="nav-btn">🧠 Theory</a>
      <a href="theses.html" class="nav-btn">📜 Theses</a>
      <a href="makaleler.html" class="nav-btn">📚 Makaleler</a>
      <a href="ontology.html" class="nav-btn">⚙️ Ontology</a>
      <a href="about.html" class="nav-btn">About</a>
      <a href="repositories.html" class="nav-btn">Depolar</a>
      <a href="duyurular.html" class="nav-btn">Duyurular</a>
    </div>

  </div>
</nav>
