<div class="navbar">
  <a href="index.html">ZANISTARAST</a>
  <a href="index.html">Home</a>
  <a href="about.html">About</a>
  <a href="paper.html">Paper</a>
  <a href="graph.html">Graph</a>
  <a href="ai.html">AI</a>
  <a href="repositories.html">Repositories</a>
  <a href="https://medium.com/@veysiyemalasaf">Articles</a>
</div>

<div class="navbar">
  <div class="nav-left">
    <a href="index.html" class="logo">ZANISTARAST</a>
  </div>

  <div class="nav-right">
    <a href="about.html">About</a>
    <a href="paper.html">Paper</a>
    <a href="graph.html">Graph</a>
    <a href="ai.html">AI</a>
    <a href="repositories.html">Repos</a>
  </div>
</div>
